linux64/steamclient.so
steamclient.so
UnityPlayer.so
valheim_server_Data/level4
valheim_server_Data/sharedassets1.resource
valheim_server_Data/sharedassets1.assets.resS
valheim_server_Data/sharedassets1.assets
valheim_server_Data/sharedassets0.assets.resS
valheim_server_Data/level3
